body {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

#whole-header {
  margin-bottom: 50px;
}

#header-container {
  display: flex;
  justify-content: center;
  border-bottom: 8px solid #4e2217;
}

#header-container-content {
  padding: 0;
}

#header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin: 0 auto;
  width: 100%;
}

#title {
  color: #fefefe;
  background-color: #b96049;
  flex-grow: 2;
  padding: 1em;
}

#main-title {
  font-family: Arial, Helvetica, sans-serif;
}

#sub-title {
  font-family: Arial, Helvetica, sans-serif;
}

#portfolio-link {
  color: #b96049;
  background-color: #ffffff;
  font-size: 2em;
  flex-grow: 1;
  padding: 1em;
  text-align: right;
}

#portfolio-link:hover {
  text-decoration: none;
  color: #4e2217;
}

#main-container {
  border: 3px solid #4e2217;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 50px;
  padding: 15px;
}

#main-row {
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 575px) {
  #main-title {
    font-size: 1.5em;
  }
  #sub-title {
    font-size: 0.8em;
  }
  #header a {
    font-size: 1em;
    position: relative;
    top: -15.5px;
  }
}

.hide {
  display: none;
}

#modal-container {
  position: absolute;
  margin: 0 auto;
  top: 200px;
  width: 100%;
  height: 350px;
}

.modal-header {
  padding: 2px 16px;
  background-color: #4e2217;
  color: white;
}

.modal-body {
  padding: 2px 16px;
  height: 240px;
}

.modal-body textarea {
  width: 100%;
  height: 50px;
}

.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 80%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#modal-buttons {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

footer {
  background-color: #999999;
  border-top: 3px solid #666666;
  width: 100%;
  height: 50px;
  text-align: center;
  margin-top: auto;
}

footer p {
  font-size: 0.7em;
  color: #4e2217;
  position: relative;
  top: 18px;
  margin: 0;
}

#buttons-row {
  text-align: center;
}

button {
  border: 2px solid #4e2217;
  background-color: #4e2217;
  color: #fefefe;
  border-radius: 5px;
  padding: 10px 5px;
  font-size: 1.3em;
  cursor: pointer;
  margin: 10px;
}

button:hover {
  background-color: #d1b9b3;
  color: #4e2217;
}

.button {
  width: 100px;
  margin: 0;
  height: 100%;
}

@media screen and (max-width: 767px) {
  .button {
    width: 80%;
  }
}

#button-custom-date {
  width: 200px;
  height: 82%;
}

#custom-date-button-div {
  display: flex;
  justify-content: center;
}

.center {
  text-align: center;
}

#current-date-p {
  border-bottom: 1px solid #4e2217;
  font-size: 1.5em;
  font-weight: bold;
}

#date-selector {
  margin-top: 5px;
  display: flex;
  justify-content: center;
}

#select-month {
  margin: 0 10px;
}

#day-elements {
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#today-paragraph-title {
  padding: 10px;
  font-size: 1.3em;
  color: #4e2217;
  font-weight: 500;
  border-top: 1px solid #4e2217;
}

#today-paragraph-instructions {
  padding: 10px;
  font-size: 1.3em;
  color: #4e2217;
  font-weight: 500;
  border-top: 1px solid #4e2217;
  text-align: right;
  margin-bottom: 0;
}

.period {
  border: 2px solid #4e2217;
  border-radius: 5px;
  padding: 10px;
  color: #fefefe;
  cursor: pointer;
}

.past {
  background-color: #61281a;
}

.past:hover, .present:hover, .future:hover {
  background-color: #bb7c1e;
}

.present {
  background-color: #b96049;
}

.future {
  background-color: #d1b9b3;
}